name: Terraform Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Apply on AWS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: "us-east-1"

      - name: Terraform Init
        run: terraform init

      - name: Terraform plan
        run: terraform plan

      - name: Terraform approve
        run: terraform apply -auto-approve